<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/burger_style.css">

  <title>Eat Da Burger</title>
</head>

<body>

  <!-- Page Container -->
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Eat Da Burger!</h1>
      <p>Enter a burger you want to eat. Then click submit and you will be able to devour your burger!</p>
    </div>
    {{{body}}}

    <form action="burger/create" method="POST">

      <div class="col-md-3"></div>

      <!-- Burger Input-->
      <label for="new_burger" class="submitFont">Request a new burger!</label>
      <textarea class="form-control" type="text" columns="6" rows="2" id="new_burger required value="" name="
        burger_name"></textarea>
  </div>

  <div class="col-md-3"></div>
  </div>

  <!-- Submit Button -->
  <button id="submit-button" type="submit" class="btn btn-danger">Make my Burger!</button>
  </form>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>