
<!DOCTYPE html>
<html>
  <head>
    <!-- Tab Title -->
    <title>Eat da Burger!</title>



    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <!-- Custom CSS Styling -->
    <link rel="stylesheet" href="assets/css/burger_style.css">

  </head>

  <body>

    <!-- Page Container -->
    <div class="container-fluid">
      <div class="row">
    <div class="jumbotron">
      <div class="text-center">
  <img src="assets/img/Burger.jpg" class="rounded" alt="Burger img">
</div>
    <h1>Eat Da Burger!</h1>      
    <p>Enter a burger that sounds good to you. Then click the submit button and your burger will be ready to decour!</p>    

    
        
    


      

      
      {{{body}}}




      <!--New Burgers Form -->
      <form action="burger/create" method="POST"> 
        
        <!-- Text Area Input -->
        <div class="row">
         
          <div class="col-md-3"></div> 

          <!-- Burger Input Box -->
          <div class="form-group col-md-6">
            <label for="new_burger" class="submitFont">Request a new burger!</label>
            <textarea class="form-control" type="text" columns="6" rows="2" id="new_burger required value="" name="burger_name"></textarea>
          </div>
         
          <div class="col-md-3"></div> 
        </div>
      
        <!-- Submit Button -->
          <div class="btn-div">
          <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
    </div>
  </body>
</html>